/* リセットCSS */

* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f3;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-logo-pict{
  width: 100px;
  height: 100px;
}

body,
html {
  height: 100%;
  background-color: #f5f5f3 !important;
}


header {
  background-color: #f5f5f3;
  padding: 20px 0;
  display: flex;
}
.top-heading{
  text-align: center;
}
.navbar {
  width: 100%;
  padding: auto 10px;
  background-color: #f5f5f3;
  justify-content: space-around;
  padding-right: 2rem;
}



li {
  list-style: none;
}


.calendar-heading{
  text-align: center;
  font-size: 40px
}

.col-1{
  display: inline-block;
  width: 200px;
  margin-top: 5px;
  white-space: nowrap;
  font-size: 20px;
}

.col-2{
  display: inline-block;
  width: 300px;
  margin-top: 5px;
}

.table-style{
  text-align: center;
}

.calender-table-style{
  padding: 0 60px 100px 60px;
}

footer {
  margin: 30px auto;
  padding: 10px;
  color: #D8D8D8;
}

footer p {
  text-align: center;
}

.new-reserv-voyce{
  font-size: 20px;
}
.new-reserv-text{
text-align: center;
}

.box17{
  margin: 10px 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -20px;
  width: 2px;
  height: -webkit-calc(100% + 40px);
  height: calc(100% + 40px);
  background-color: black;
}
.box17:before {left: 20px;}
.box17:after {right: 20px;}
.box17 p {
  margin: 0; 
  padding: 0;
}

.box24 {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: gray;
  color: black;
  font-weight: bold;
}
.box24:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid gray;
  width: 0;
  height: 0;
}
.box24 p {
  margin: 0; 
  padding: 0;
}



.table-scroll{
  overflow-x : auto
}

.down-table{
  width: 100%;
  border: 1px solid; /* 線の太さと可視化 */
  border-top-left-radius: 8px; /* 左上を角丸に */
}

.down-table th{
  width: 10%;
  padding : 20px;
  border: 1px solid;
  background-color: rgb(231, 236, 212);
}

.down-table tr{
  background-color: bisque;
}

.down-table td{
  width: 30%;
  padding : 20px;
  border: 1px dotted;
  background-color: rgb(245, 242, 239);
}
