    <header>
          <ul class="navbar">
                <li><a href="#">トップページ</a></li>
                <li><%= link_to '新 規 予 約', new_reservation_path %></li>
                <li><a href="#">シ フ ト表</a></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path %></li>
          </ul>
    </header>
