    <header>
          <ul class="navbar">
                <li><%= link_to 'ト　ッ　プ　ペ　ー　ジ', root_path, class: 'shadow p-3 btn btn-outline-dark btn-lg' %></li>
                <li><%= link_to '　　新　規　予　約　　', new_reservation_path, class: 'shadow p-3 btn btn-outline-dark btn-lg' %></li>
                <button type="button" class="shadow p-3 btn btn-outline-dark btn-lg"><li><a href="#">　　シ　フ　ト　表　　</a></li></button>
                <li><%= link_to '　マ　イ　ペ　ー　ジ　', edit_user_path(current_user), class: 'shadow p-3 btn btn-outline-dark btn-lg' %></li>
          </ul>
    </header>
