    <header>
          <ul class="navbar">
                <button type="button" class="btn btn-outline-dark btn-lg"><li><%= link_to 'ト　ッ　プ　ペ　ー　ジ', new_reservation_path %></li></button>
                <button type="button" class="btn btn-outline-dark btn-lg"><li><%= link_to '　　新　規　予　約　　', new_reservation_path %></li></button>
                <button type="button" class="btn btn-outline-dark btn-lg"><li><a href="#">　　シ　フ　ト　表　　</a></li></button>
                <button type="button" class="btn btn-outline-dark btn-lg"><li><%= link_to 'あ　な　た　の　ペ　ー　ジ', edit_user_registration_path %></li></button>
          </ul>
    </header>
