<header>
        <div class="navbar">
            <ul class="nav-lists">
                <li><a href="#">トップページ</a></li>
                <li><%= link_to '新規予約', new_reservation_path %></li>
                <li><a href="#">メニュー３</a></li>
                <li><a href="#">メニュー４</a></li>
            </ul>
        </div>
        <div class="editbar">
          <div class ="editbtn">
            <a href="#">出口</a>
          </div>
        </div>
</header>